@charset "UTF-8";
.home-div1 {
  height: 100vh;
  margin-top: 150px; }

#home-div2 {
  height: 37.5vh;
  margin-top: 40px;
  margin-bottom: 50px; }

.home-div3, .home-div1, #home-div2, .novedades {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  text-align: center; }

.home-div4 {
  background-color: #ebe8d8;
  width: auto;
  opacity: 0.7; }

#home-div5 {
  background-color: black;
  text-align: center;
  justify-items: center;
  opacity: 0.92;
  margin-bottom: 0px; }

.carousel-item .subtitulo {
  color: black; }

.single {
  justify-self: center;
  align-self: center;
  transition: all 0.5s; }

.single:hover {
  transform: scale(1.25, 1.25); }

.novedades {
  margin: 2vh 1vw 2vh 1vw;
  padding: 2vh 1vw 2vh 1vw;
  border: 2px solid white;
  width: auto; }

#boton {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white; }

.musica-div1 {
  height: 15vh;
  align-content: center;
  justify-content: center; }

.musica-div3 {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  text-align: center; }

#banner-musica {
  margin: 0%;
  padding: 0%; }

#container-inner {
  margin-top: 147px; }

.btn-musica {
  width: 250px; }

.videos {
  text-align: center;
  margin: 5px 5px 5px 5px; }
  .videos .subtitulo {
    font-family: "Abril Fatface", cursive;
    font-size: 20px;
    color: black; }

#banner-videos {
  margin: 0%;
  padding: 0%; }

#video-youtube-grande {
  width: 900px;
  height: 506px; }

.video-youtube-chico {
  width: 500px;
  height: 281px; }

img {
  max-width: 100%; }

.gallery {
  background-color: #ebe8d8;
  padding: 30px 0; }
  .gallery img {
    background-color: white;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

#gallery-modal .modal-img {
  width: 100%; }

.gallery-item {
  transition: .5s ease-in-out; }

.gallery-item:hover {
  filter: brightness(80%); }

#tienda {
  background-color: black;
  opacity: 1;
  height: 100px;
  width: auto; }

#gridTienda {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100px 250px 100px 100px  250px 100px 100px;
  grid-template-areas: "subtitulo-tienda     subtitulo-tienda     subtitulo-tienda " "producto1                producto2            producto3" "producto-txt1           producto-txt2        producto-txt3" "comprar1                 comprar2              comprar3" "producto4                producto5            producto6" "producto-txt4            producto-txt5       producto-txt6" "comprar4                 comprar5              comprar6"; }

.producto {
  justify-self: center;
  align-self: center;
  transition: all 0.5s; }

.producto:hover {
  transform: scale(1.1, 1.1); }

/*Fotos de productos - AREAS DE GRID*/
.producto1 {
  grid-area: producto1; }

.producto2 {
  grid-area: producto2; }

.producto3 {
  grid-area: producto3; }

.producto4 {
  grid-area: producto4; }

.producto5 {
  grid-area: producto5; }

.producto6 {
  grid-area: producto6; }

.producto-txt {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-family: 'Kaisei Decol', serif;
  color: white;
  font-size: 1vw; }

/*Textos de productos - AREAS DE GRID*/
.producto-txt1 {
  grid-area: producto-txt1; }

.producto-txt2 {
  grid-area: producto-txt2; }

.producto-txt3 {
  grid-area: producto-txt3; }

.producto-txt4 {
  grid-area: producto-txt4; }

.producto-txt5 {
  grid-area: producto-txt5; }

.producto-txt6 {
  grid-area: producto-txt6; }

.comprar {
  justify-self: center;
  align-self: center; }

/*Botón de Comprar - AREAS DE GRID*/
.comprar1 {
  grid-area: comprar1; }

.comprar2 {
  grid-area: comprar2; }

.comprar3 {
  grid-area: comprar3; }

.comprar4 {
  grid-area: comprar4; }

.comprar5 {
  grid-area: comprar5; }

.comprar6 {
  grid-area: comprar6; }

/*Subtítulo de página - AREAS DE GRID*/
.subtitulo-tienda {
  grid-area: subtitulo-tienda;
  justify-self: center;
  align-self: center; }

/*ESTRUCTURA*/
* {
  margin: 0%;
  padding: 0%; }

header {
  background-color: black;
  height: 30%;
  text-align: center; }

footer {
  height: auto; }

.texto-footer {
  font-size: 20px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }

.texto-footer-btn {
  color: black;
  font-size: 15px;
  font-weight: bold; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: black; }

/*TÍTULOS, SUBTÍTULOS Y TEXTO*/
h1 {
  font-family: "MonteCarlo", cursive;
  font-size: auto;
  color: white;
  font-weight: bold;
  margin-right: 5px; }

h2, h3, h4, .titulo, .subtitulo, .texto-musica, .titulo-index, .subtitulo-index, .titulo-galeria, .subtitulo-musica {
  font-family: "Abril Fatface", cursive;
  font-size: 20rem;
  color: white;
  text-align: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; }

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  color: white; }

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: white; }

.titulo {
  font-family: "Abril Fatface", cursive;
  font-size: 45px;
  color: white;
  opacity: 1;
  background-color: black;
  opacity: 0.8;
  border: none; }

.subtitulo {
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  color: black;
  opacity: 1;
  border: none; }

.texto-musica {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: white;
  font-style: italic;
  background-color: transparent;
  border: none; }

.titulo-tienda1 {
  font-family: "Abril Fatface", cursive;
  font-size: 45px;
  color: white;
  text-align: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  opacity: 1;
  background-color: black;
  opacity: 0.8;
  border: none; }

.titulo-index {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: white;
  border: none; }

.subtitulo-index {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: white;
  border: none; }

.texto-index {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
  text-align: left;
  margin-right: 2vh; }

.titulo-galeria {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  color: black;
  border: none;
  background-color: #ebe8d8;
  margin-bottom: 2vh; }

.texto-musica {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: white; }

.subtitulo-musica {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
  color: white; }

/*Navegador*/
/*Modificación para Bootstrap*/
.nav-bts {
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
  color: white;
  background-color: black; }

/*Backgrounds - Main*/
#video-index, #video-musica {
  padding-left: 0%;
  padding-right: 0%; }

video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  object-fit: cover; }

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoApple:hover {
  background-color: #474747; }

.social-network a.icoSpotify:hover {
  background-color: #1f9900; }

.social-network a.icoYoutube:hover {
  background-color: #b90000; }

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoApple:hover i, .social-network a.icoSpotify:hover i, .social-network a.icoYoutube:hover i {
  color: white; }

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #D3D3D3; }

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: black;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

/*MEDIA QUERY PARA HOME*/
@media (max-width: 992px) {
  main {
    background-color: #ebe8d8; }
  h1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 80rem;
    font-weight: bold;
    text-transform: uppercase; }
  .home-div1 {
    justify-content: center;
    align-content: center; }
    .home-div1 h2, .home-div1 h3, .home-div1 h4, .home-div1 .titulo, .home-div1 .subtitulo, .home-div1 .texto-musica, .home-div1 .titulo-index, .home-div1 .subtitulo-index, .home-div1 .titulo-galeria, .home-div1 .subtitulo-musica {
      color: black; }
    .home-div1 h3 {
      color: black; }
  h4 {
    color: black; }
  #home-div2 {
    display: none; }
  #boton1 {
    color: black;
    border-color: black; }
  .titulo-index {
    color: white; }
  .subtitulo-index {
    color: white; }
  .carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 55%; }
  .fa-play-circle {
    color: black; }
  .carousel-inner {
    margin-top: 20px;
    margin-bottom: 50px; }
  .fa-arrow-alt-circle-left {
    color: black; }
  .fa-arrow-alt-circle-right {
    color: black; } }

@media (min-width: 993px) {
  #home-div6 {
    display: none; } }

/*MEDIA QUERY PARA MUSICA*/
@media (min-width: 992px) {
  #banner-musica .titulo {
    color: white; }
  #banner-musica .subtitulo {
    color: white; }
  #musica-md {
    display: none;
    height: 0%; } }

@media (max-width: 991px) {
  .musica-div1 .titulo {
    opacity: 1;
    font-size: 35px;
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 10px; }
  #musica-lg {
    display: none;
    height: 0%; }
  .carousel-inner {
    margin-bottom: 50px; }
  .carousel-indicators {
    bottom: -10px; }
  carousel-indicators > li {
    border-radius: 50%; }
  .musica-div3 {
    height: 100vh; }
  #banner-musica .titulo {
    font-family: "Abril Fatface", cursive;
    font-size: 45px;
    color: white; } }

/*MEDIA QUERY PARA VIDEOS*/
@media (max-width: 576px) {
  #fondo-videos {
    background-color: #ebe8d8; }
  #video-youtube-grande {
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px; }
  .video-youtube-chico {
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px; }
  .videos {
    text-align: center;
    margin: 5px 5px 5px 5px; }
    .videos .subtitulo {
      font-family: "Abril Fatface", cursive;
      font-size: 15px;
      color: black; }
  #banner-videos .titulo {
    color: black;
    background-color: transparent;
    opacity: 1; } }

@media (min-width: 577px) {
  #fondo-videos {
    background-color: #ebe8d8; } }

@media (min-width: 577px) and (max-width: 960px) {
  #video-youtube-grande {
    width: 500px;
    height: 281px;
    padding: 5px 5px 5px 5px; } }

/*MEDIA QUERY PARA GALERÍAS*/
@media (max-width: 576px) {
  #fondo-videos {
    background-color: #ebe8d8; }
  .titulo-galeria {
    font-family: "Abril Fatface", cursive;
    font-size: 35px;
    color: black;
    margin-top: 1vh; }
  .subtitulo {
    font-family: "Abril Fatface", cursive;
    font-size: 15px;
    color: black; } }

@media (min-width: 577px) {
  #fondo-videos {
    background-color: #ebe8d8; } }

@media (min-width: 577px) and (max-width: 960px) {
  #video-youtube-grande {
    width: 500px;
    height: 281px;
    padding: 5px 5px 5px 5px; } }

/*MEDIA QUERY PARA TIENDA*/
@media (max-width: 800px) {
  #gridTienda {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "subtitulo-tienda" "producto1" "producto-txt1" "comprar1" "producto2" "producto-txt2" "comprar2" "producto3" "producto-txt3" "comprar3" "producto4" "producto-txt4" "comprar4" "producto5" "producto-txt5" "comprar5" "producto6" "producto-txt6" "comprar6"; }
  .producto-txt {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    color: white;
    font-size: 1.5vh; }
  .subtitulo {
    color: white; } }

@media (min-width: 801px) and (max-width: 1100px) {
  #gridTienda {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "subtitulo-tienda subtitulo-tienda" "producto1 producto2" "producto-txt1 producto-txt2" "comprar1 comprar2" "producto3 producto4" "producto-txt3 producto-txt4" "comprar3 comprar4" "producto5 producto6" "producto-txt5 producto-txt6" "comprar5 comprar6"; }
  .producto-txt {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    color: white;
    font-size: 1.5vh; }
  .subtitulo {
    color: white; } }
