.home-div1{
    @extend .home-div3;
    height: 100vh;
    margin-top: 150px;

}

#home-div2{
    @extend .home-div3;
    height: 37.5vh;
    margin-top:40px;
    margin-bottom: 50px;
}

.home-div3{
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.home-div4{
    background-color:$color-fondo;
    width: auto;
    opacity: 0.7;
}

#home-div5{
    background-color: black;
    width: 100vw;
    text-align: center;
    justify-items: center;
    opacity: 0.92;
    margin-bottom: 0px;
}

.single{
    justify-self: center;
    align-self: center;
    transition: all 0.5s;
    }

.single:hover{
    transform: scale(1.25,1.25)
    }

.novedades{
    @extend .home-div3;
    margin: 2vh 1vw 2vh 1vw;
    padding: 2vh 1vw 2vh 1vw;
    border: 2px solid white;
}

#boton{
    @include propiedades-texto ($fuente3,15px,$color-fuente);
}


