

.musica-div1{
    height: 15vh;
    align-content: center;
    justify-content: center;

}

.musica-div3{
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}

#banner-musica{
    margin: 0%;
    padding: 0%;
}

#container-inner{
    margin-top: 147px;
}

.btn-musica{
    width: 250px;
}

