.texto-musica{
    color: black;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 1.2vw;
    background-color: transparent;
    opacity: 1;
    border: none
}

.musica-div1{
    height: 10vh;
}

.musica-div2{
    align-self: center;
    text-align: center;
}

#container-inner{
    margin-top: 147px;
}